{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome totestimonials page</h1>
    <form action="/testimonials" method="POST">
    <input type="text" placeholder="Dscription" name="discrition" required="required" >
    <input type="text" placeholder="Full Name" name="fullname" required="required" >
    <input type="text" placeholder="Positions" name="position" required="required" >

      <input type="file" id="myFile" name="img" required="required">
    <button class="button" type="submit">SUBMIT</button>
</body>
</html> --}}